<% if(productos.length > 0) { %>
    <table class="table table-dark  table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto=>{ %>
            <tr>
                <td><%= producto.nombre %> </td>
                <td><%= producto.precio %> </td>
                <td>
                    <img src="<%= producto.url %> " 
                          class=" img-fluid  rounded" 
                          style="height: 35px;" 
                          alt="imagen">
                </td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
<%} else { %>
    <div class="alert alert-warning" role="alert">
        No se encontraron productos
      </div>
<% } %> 
<div class="d-flex mt-5">
    
    <a href="./" class="btn btn-primary ms-auto"><< Volver</a>
</div>